    body{
        background-color: pink;
        font-family: Comic Sans MS;
    }

    header{
        height: 100px;
        background-color: white;
        text-align: center;
        font-size: 60px;
        margin: 15px;
        border-radius: 5px;
    }

    nav{
        height: 25px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        border-radius: 5px;
        margin: 15px;
    }

    main{
        background-color: lightpink;
        border-radius: 15px;
        display: flex;
    }

    article{
        background-color:white;
        width: 70%;
        float: left;
        margin: 10px;
        border-radius: 15px;
        text-align:center;
        height: fit-content;
    }

    aside{
        height: 150px;
        background-color:rgb(255, 255, 255);
        width: 25%;
        float: right;
        border-radius: 8px;
        margin: 10px;
        padding:7px;
        text-align: center;
    }

    footer{
        background-color: white;
        margin: 15px;
        border-radius: 5px;
        text-align: center;
        height: fit-content;
    }

    h1{
        color: pink;
    }

    #shadow {
        box-shadow: 5px 5px 10px 2px rgba(255, 124, 124, 0.3);
    }

    .text {
        font-size: 20px;
    }

    a:link{
        border-radius: 4px;
        background-color: rgb(255, 226, 231);
        text-decoration: none;
        color: black;
        padding-left: 5pt;
        padding-right: 5pt;
    }

    a:hover{
        color: pink;
    }