    body{
        background: repeating-linear-gradient(to right,#ffc9dd,#ffc9dd 20px,#ffffff 20px,#ffffff 40px);
        font-family: Comic Sans MS;
    }

    header{
        height: 100px;
        background-color: white;
        text-align: center;
        font-size: 60px;
        margin: 15px;
        border-radius: 5px;
        border: 5px solid #ffc9dd;
    }

    nav{
        height: 25px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        border-radius: 5px;
        margin: 15px;
        border: 5px solid #ffc9dd;
    }

    main{
        background-color: #ffc9dd;
        border-radius: 5px;
        display: flex;
    }

    article{
        background-color:white;
        width: 100%;
        margin: 10px;
        border-radius: 5px;
        text-align:center;
        height: fit-content;
    }

    footer{
        background-color: white;
        margin: 15px;
        border-radius: 5px;
        text-align: center;
        height: fit-content;
        border: 5px solid #ffc9dd;
    }

    h1{
        color: #ffb4d0;
    }

    h2{
        color: #ffc9dd;
    }

    #shadow {
        box-shadow: 5px 5px 10px 2px #ffb7d2;
    }

    .text {
        font-size: 20px;
    }

    a:link{
        border-radius: 4px;
        background-color: #ffe7ef;
        text-decoration: none;
        color: black;
        padding-left: 5pt;
        padding-right: 5pt;
    }

    a:hover{
        color: #ffc9dd;
    }

    header{
        color: #ffb4d0;
    }