    body{
        background-color: pink;
        font-family: Comic Sans MS;
    }

    header{
        height: 100px;
        background-color: white;
        text-align: center;
        font-size: 60px;
        margin: 5px;
        border-radius: 5px;
    }

    nav{
        height: 25px;
        background-color: rgb(255, 255, 255);
        text-align: center;
    }

    main{
        background-color: lightpink;
        height: 500px;
    }

    article{
        background-color:white;
        width: 70%;
        height: 450px;
        float: left;
        margin: 10px;
        border-radius: 15px;
        text-align:center;
    }

    aside{
        height: 150px;
        background-color:rgb(255, 255, 255);
        width: 25%;
        float: right;
        border-radius: 8px;
        margin: 5;
        padding: 5px;
        text-align: center;
    }

    footer{
        background-color: white;
        height: 100px;
        margin: 5px;
        border-radius: 5px;
        text-align: center;
    }

    a{
        color: pink;
    }

    h1{
        color: pink;
    }